<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--文件读写-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application>
        <provider
            android:name="com.xieql.lib.logger.com.xieql.lib.fclogger.core.LoggerProvider"
            android:authorities="${applicationId}.provider.LoggerProvider"
            android:exported="false" />
    </application>


</manifest>